/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.loginPage{
    -fx-background-image: url(/res/film_reel.jpg); 
    -fx-background-size: cover;
}

.loginPanel{
	-fx-background-image: url(/res/clapperboard.png); 
	-fx-background-size: cover;
	-fx-padding: 200 10 10 40;
}