/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.loginPage{
    -fx-background-image: url(../../res/images/film_reel.jpg); 
    -fx-background-size: cover;
}

.loginPanel{
	-fx-background-image: url(../../res/images/clapperboard.png); 
	-fx-background-size: cover;
	-fx-padding: 200 10 10 40;
}

.userSceneHeader{
	-fx-background-color: #808080;
	-fx-text-fill: #FFFFFF;
}

.userScene{
	-fx-border-color: #FFFFFF #000000;
}